@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #63707e;
  --dark-color-b: #93b5b3;
  --light-color: #c8dad3;
  --success-color: #ad9d9d;
  --error-color: #d9adad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 5px;
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #f2f6f5;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #f2f6f5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #f2f6f5;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: #63707e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-a);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #f2f6f5;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

#msg {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #204051;
}

.text {
  color: #204051;
}

input:focus {
  outline: none !important;
  border-color: #d9adad;
  box-shadow: 0 0 10px #d9adad;
}

input:required {
  box-shadow: 4px 4px 20px #d9adad;
}

/**
 * style input elements that have a required
 * attribute and a focus state
 */
input:required:focus {
  border: 1px solid #ad9d9d;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}
